:root {
    --foreground-main: #212529;
    --orange: #f67e08;
    --light-orange: #ffad5c;
    --background-main: rgb(255, 255, 255);
    --background-secondary: var(--light-orange);
    --background-tertiary: rgb(255, 241, 241);
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --gray: #d9d9d9;
    --purple: rgb(169, 64, 255);
    --blue: rgb(154, 195, 255);
    --shadow: rgba(0,0,0,.35);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-main: rgb(231, 231, 231);
        --background-main: #212529;
        --background-secondary: #191c1f;
        --background-tertiary: #292d31;
        --gray: #3d3e41;
        --shadow: rgba(114, 112, 112, 0.35);
    }
}

body {
    background-color: var(--background-secondary);
    color: var(--foreground-main);
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    font-family: PT Sans,sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    background-color: var(--background-main);
    box-shadow: 0 2px 6px 0 var(--shadow);
    border: 1px solid var(--gray);
    min-height: 600px;
    max-width: 800px;
    margin:auto;
}

#footer {
    margin: auto;
    margin-top: 20px;
    max-width: 800px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: var(--background-main);
    padding: 10px;
}


h1 {
    font-size: 48px;
}

a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a {
    border-bottom: 3px solid var(--orange);
    transition: border-bottom-width .1s linear;
}

a:hover {
    border-bottom-width: 1px;
}

#searchbox {
    margin: auto;
    display: flex;
    width: 80%;
    min-height: 48px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px 0 var(--shadow);
    background-color: var(--background-main);
}

#searchinput {
    display: flex;
    padding: 10px;
    font-size: 24px;
    flex: 1 90%;
    border: 0px;
    border-left: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    background-color: var(--background-main);
    color: var(--foreground-main);
}

#searchsubmit {
    display: flex;
    flex: 2;
    font-size: 24px;
    background-color: var(--background-main);
    border: 0px;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    color: var(--foreground-main);
    align-items: center;
    justify-content: center;
}

#searchsubmit:hover {
    cursor: pointer;
}

#searchinput:not(:disabled):focus{
    outline: none;
    border-left: 1px solid var(--orange);
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
}

#searchinput:not(:disabled):focus + #searchsubmit{
    outline: none;
    border-right: 1px solid var(--orange);
    border-top: 1px solid var(--orange);
    border-bottom: 1px solid var(--orange);
}

#searchinput:disabled, #searchsubmit:disabled{
    background-color: var(--gray);
    color: var(--shadow);
    outline: none;
}

#extensions {
    display:flex;
    flex-direction: column;
}


.extension {
    border: 1px solid var(--gray);
    box-sizing: border-box;
    box-shadow: 0 2px 6px 0 var(--shadow);
    min-height: 185px;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.extension header {
    flex: 1 100%;
}

.extension header h4 {
    margin: 0px 0px 20px 0px;
    font-size: 32px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}

.extension footer {
    text-align: center;
    line-height: 1;
    font-size: 14px;
    flex: 1 100%;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}
.tag {
    display: flex;
    border: 1px solid var(--orange);
    border-radius: 10px;
    margin: 0px 5px;
    font-size: 14px;
    padding: 0 10px;
    min-height: 25px;
    align-items: center;
    width: fit-content;
}

.plugin .tag {
    border: 1px solid var(--orange);
}

.theme .tag {
    border: 1px solid var(--purple);
}

.theme .external-links a:hover {
    color: var(--purple);
}

.description {
    flex: 1 100%;
    font-size: 18px;
    margin: 20px 0;
}

.icons {
    display:flex;
    flex-wrap: wrap;
    font-size: 32px;
    justify-content: space-between;
}
.type {
    display: flex;
    flex-basis: 10%;
    justify-content: left;
}

.plugin .type {
    color: var(--orange);
}

.theme .type {
    color: var(--purple);
}

.theme a {
    border-bottom: 3px solid var(--purple);
    transition: border-bottom-width .1s linear;
}

.theme a:hover {
    border-bottom-width: 1px;
}

.plugin a {
    border-bottom: 3px solid var(--orange);
    transition: border-bottom-width .1s linear;
}

.plugin a:hover {
    border-bottom-width: 1px;
}

.external-links {
    display: flex;
    justify-content: right;
}

.external-links a {
    display: flex;
    text-transform: none;
    text-decoration: none;
    border: none;
    margin-left: 7px;
    margin-bottom: 10px;
}

.external-links a:hover {
    color: var(--orange);
}

.author, .version{
    font-weight: bolder;
}

#information-message {
    display: none;
    border: 1px solid var(--light-orange);
    margin-bottom: 40px;
    padding: 20px;
    font-size: 18px;

    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#information-message p {
    display: flex;
    text-align: justify;
    margin: auto;
    font-weight: bolder;
}

@keyframes loading {
    0% {
        box-shadow: 0 0 6px 2px var(--light-orange);
    }

    50% {
        box-shadow: 0 0 6px 2px var(--orange);
    }

    100% {
        box-shadow: 0 0 6px 2px var(--light-orange);
    }
}

article[class*="plugin"] .highlight {
    background-color: var(--orange);
}

article[class*="theme"] .highlight {
    background-color: var(--purple);
}

#filterbox {
    font-size: 18px;
    display: flex;
    margin: auto;
    margin-top: 0;
    flex-direction: row;
    width: 75%;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px 0 var(--shadow);
    border: 1px solid var(--gray);
    background-color: var(--background-main);
    padding: 10px;
    align-items: center;
}

.filter {
    display: flex;
    align-items: center;
    background-color: var(--background-tertiary);
    color: var(--foreground-main);
    border: none;
    cursor:pointer;
    border-radius: 2px;
    height: 24px;
    font-size: 18px;
    border: 1px solid var(--gray);
    margin: 1px;
    margin-left: 10px;
    padding: 10px;
}

.filter[class*=active-filter] {
    font-weight: bold;
    color: black;
}

.filter[class*=active-filter][class*=plugin] {
    background: var(--orange);
    box-shadow: 0 0px 4px 0 var(--orange);
    border: 1px solid var(--orange);
}

.filter[class*=active-filter][class*=theme] {
    background: var(--purple);
    box-shadow: 0 0px 4px 0 var(--purple);
    border: 1px solid var(--purple);
}

#stats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}